*{
    text-align: center;
    box-sizing: border-box;
}

.entire-body{
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}

.p-syle{
    
}

.ingredients-styling li{
	padding: 0;
	margin: 0;
	max-width: 700px;
	position: relative;
}

.ingredients-styling li{
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: peachpuff;
}
.ingredients-styling li{
	margin-top: 1rem;
}   

.ingredients-styling ::marker {
	font-weight: 600;
	color: peachpuff;
	font-size: 1.8rem;
}

.steps-styling ::marker{
    font-weight: 600;
    color: tomato;
    font-size: 2rem;
}

.steps-styling li{
    padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: rgb(255, 185, 188);  
    margin-top: 1.8rem;                                                                                                                                                                       
}

